body{
  margin: 0;
}

.App {
  background-color: rgb(253, 253, 253);
  color: rgb(112, 112, 112);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 10px 0 0 0;
}

.title,
.table-info {
  display: flex;
  justify-content: center;
}

.table-info {
  flex-direction: column;
  align-items: center;
}

.buttons-ins {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tables-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: space-evenly;
}

.table {
  display: grid;
  padding-top: 15px;
  margin-top: 0;
  grid-template-columns: repeat(10, auto);
  justify-content: center;
  column-gap: 2px;
  row-gap: 2px;
}

.box,
.hit-box,
.no-hit-box,
.box-selected {
  border: solid rgb(112, 112, 112);
  height: 25px;
  width: 25px;
}

.hit-box {
  background-color: rgb(228, 27, 27);
  border: solid rgb(119, 0, 0)
}

.no-hit-box {
  background-color: rgb(12, 3, 145);
  border: solid rgb(45, 45, 92)
}

.box-selected {
  background-color: rgb(128, 202, 98);
  border: solid rgb(18, 75, 7)
}

button {
  border: 2px solid rgb(112, 112, 112);
  margin: 0 5px;
  height: 6vh;
  font-size: 2vh;
  border-radius: 5px;
  background-color: white;
  color: rgb(112, 112, 112);
  transition-duration: 0.4s;
  outline: none
}

button:hover {
  color: white;
  background-color: rgb(112, 112, 112);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 50px;
}

#repo {
  height: 5vh;
}